body {
  background-color: #1f1f1f;
  padding: 0.5em;
  text-align: center;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans;
}




#camera {
  display: inline-block;
  background-color: #eee;
  width: 1280px;
  height: 720px;
  margin: 0.5em;
}

#camera .placeholder {
  padding: 0.5em;
}
