body {
  background-color: #1f1f1f;
  padding: 0.5em;
  text-align: center;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans;
}

.tlt{
  visibility: hidden !important;
}

#camera {
  display: inline-block;
  position: absolute;
  background-color: #eee;
  top: 10px;
  left: 10px;
  width: 1280px;
  height: 720px;
}


#overlay {
  top: 10px;
  left: 10px;
  z-index: 99;
  width: 1280px;
  height: 720px;
  position: absolute;
  text-align: left;
}


#camera .placeholder {
  padding: 0.5em;
}

h1{
  color: #fff;
  font-size: 42px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
}

